.page[b-mx7gye8ygd] {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

main[b-mx7gye8ygd] {
    flex: 1;
}

.sidebar[b-mx7gye8ygd] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-mx7gye8ygd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-mx7gye8ygd]  a,
.top-row[b-mx7gye8ygd]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-mx7gye8ygd]  a:hover,
.top-row[b-mx7gye8ygd]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-mx7gye8ygd]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-mx7gye8ygd] {
        justify-content: space-between;
    }

    .top-row[b-mx7gye8ygd]  a,
    .top-row[b-mx7gye8ygd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mx7gye8ygd] {
        flex-direction: row;
    }

    .sidebar[b-mx7gye8ygd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mx7gye8ygd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mx7gye8ygd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-mx7gye8ygd],
    article[b-mx7gye8ygd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-mx7gye8ygd] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-mx7gye8ygd] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}